# fly.toml app configuration file generated for semi-persistent-chat on 2024-09-04T16:48:47+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'semi-persistent-chat'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 6060
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
