.emojiButton {
    cursor: pointer;
    z-index: 0;
    background: transparent;
    border: 1px solid darkgoldenrod;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    margin: 0 0.4em 0 0;
}

@media (pointer: coarse) {
    .emojiButton {
        display: none;
    }
}

.emojiPicker {
    position: absolute;
    bottom: 70px;
    right: 10px;
}
