.emojiButton {
    z-index: 0;
    background: transparent;
    border: 1px solid darkgoldenrod;
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.emojiPicker {
    position: absolute;
    bottom: 70px;
    right: 10px;
}
