h1 {
    margin: 0.5em;
    text-align: center;
}

hr {
    margin: 1em 0.5em;
    border: 1px solid lightskyblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
}

.submit {
    width: 18%;
    color: black;
    font-weight: bold;
    background-color: lightskyblue;
    border-color: lightskyblue;
}
