.Home {
    margin: 0.5em;
}

.Home h1 {
    margin: 0.5em;
    text-align: center;
}

.Home hr {
    margin: 1em 0;
    border: 1px solid lightskyblue;
}

.Home form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home label {
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
}

.Home .submit {
    width: 18%;
    color: black;
    font-weight: bold;
    background-color: lightskyblue;
    border-color: lightskyblue;
}
