.Home {
    margin: 0.5em;
}

.title {
    margin: 0.5em;
    text-align: center;
}

.divider {
    margin: 1em 0;
    border: 1px solid lightskyblue;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit {
    width: 18%;
    color: black;
    font-weight: bold;
    background-color: lightskyblue;
    border-color: lightskyblue;
}
