.Logout {
    padding: 0 0.5em;
    color: lightgrey;
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    line-height: inherit;
}

.LogoutText {
    margin: 0.1em;
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    .Logout {
        color: #333;
    }
}
