.MessageEmojisRow {
    display: inline-block;
    margin-left: 0.4em;
}

.MessageEmojis {
    display: flex;
    border: 1px solid grey;
    border-radius: 12px;
}

.MessageEmoji {
    padding: 0 2px;
    cursor: default;
}

.MessageEmojiAdd {
    display: none;
    font-size: 14px;
    padding: 2px;
    opacity: 0.5;
    background: white;
    border-radius: 50%;
}

.MessagesRow:hover .MessageEmojiAdd,
.MessagesRow:active .MessageEmojiAdd {
    display: block;
}

.MessageEmoji + .MessageEmojiAdd {
    margin-left: 4px;
}

.MessageEmojiAdd:hover,
.MessageEmojiAdd:active {
    opacity: 1;
    cursor: pointer;
}

.MessageEmojiSameUser {
    cursor: pointer;
}

.MessageEmojiPicker {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 0;
}
