.MessageEmojisRow {
    display: inline-block;
    margin-left: 0.4em;
}

.MessageEmojis {
    display: flex;
    border: 1px solid grey;
    border-radius: 12px;
}

.MessageEmojisHidden {
    visibility: hidden;
}
.MessagesRow:hover .MessageEmojisHidden,
.MessagesRow:active .MessageEmojisHidden {
    visibility: initial;
}

.MessageEmoji {
    padding: 2px;
    cursor: default;
}

.MessageEmojiAdd {
    padding: 2px 4px;
    opacity: 0.5;
    background: white;
    border-radius: 50%;
}

.MessageEmoji + .MessageEmojiAdd {
    margin-left: 4px;
}

.MessageEmojiAdd:hover,
.MessageEmojiAdd:active {
    opacity: 1;
    cursor: pointer;
}

.MessageEmojiSameUser {
    cursor: pointer;
}

.MessageEmojiPicker {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 0;
}
