.Messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

/* https://stackoverflow.com/questions/36130760/use-justify-content-flex-end-and-to-have-vertical-scrollbar */
.Messages > :first-child {
    margin-top: auto !important;
}

.MessagesRow {
    margin: 0.2em auto;
    width: 100%;
}

.MessagesTime {
    margin-right: 0.5em;
    font-size: small;
}

.MessagesUser {
    margin-right: 0.5em;
}

.MessageSameUser {
    color: cyan;
}

@media (prefers-color-scheme: light) {
    .MessageSameUser {
        color: blue;
    }
}

.MessagesUuid {
    display: none;
}

.MessagesTextPending {
    color: grey;
}

.MessagesText {
    line-height: 24px;
}

.MessagesTextAction {
    display: none;
    font-size: 14px;
    margin-left: 0.4em;
    padding: 3px;
    cursor: pointer;
    opacity: 0.5;
    background: white;
    border-radius: 50%;
}

.MessagesTextAction:hover,
.MessagesTextAction:active {
    opacity: 1;
}

.MessagesRow:hover .MessagesTextAction,
.MessagesRow:active .MessagesTextAction {
    display: inline-block;
}

.UserStatus {
    margin: auto 0.1em auto 0.25em;
}

.online {
    color: rgb(55, 165, 55);
}

.offline {
    color: rgb(196, 0, 0);
}
