.Messages {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.MessagesRow {
    margin: 0.2em 0.2em 0.5em 0.2em;
    width: 100%;
}

.MessagesTime {
    margin-right: 0.5em;
    font-size: small;
}

.MessagesUser {
    margin-right: 0.5em;
}

.MessageSameUser {
    color: cyan;
}

@media (prefers-color-scheme: light) {
    .MessageSameUser {
        color: blue;
    }
}

.MessagesUuid {
    display: none;
}

.MessagesStatus {
    margin: 0.2em;
}

.MessagesCheck {
    color: green;
}

.MessagesPending {
    color: orange;
}

.MessagesTextPending {
    color: grey;
}

.UserStatus {
    margin: auto 0.1em auto 0.25em;
}

.online {
    color: rgb(55, 165, 55);
}

.offline {
    color: rgb(196, 0, 0);
}
