.MessageEmojisRow {
    display: inline-block;
    margin-left: 0.4em;
    line-height: 1.4em;
    font-size: 1em;
}

.MessageEmojis {
    display: none;
    border: 1px solid grey;
    border-radius: 12px;
}

.MessagesRow:hover .MessageEmojis,
.MessagesRow:active .MessageEmojis,
.MessageEmojis:has(.MessageEmoji) {
    display: flex;
}

.MessageEmoji {
    padding: 3px;
    cursor: default;
}

.MessageEmojiButton {
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: 1;
    padding: 3px;
}

.MessageEmojiAdd {
    display: none;
    opacity: 0.5;
    background: white;
    border-radius: 50%;
    border: none;
    color: inherit;
    font: inherit;
    line-height: 1;
    padding: 3px;
}

.MessagesRow:hover .MessageEmojiAdd,
.MessagesRow:active .MessageEmojiAdd {
    display: block;
}

.MessageEmoji + .MessageEmojiAdd {
    margin-left: 4px;
}

.MessageEmojiAdd:hover,
.MessageEmojiAdd:active {
    opacity: 1;
    cursor: pointer;
}

.MessageEmojiSameUser {
    cursor: pointer;
}

.MessageEmojiPicker {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 0;
}
