.Messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

/* https://stackoverflow.com/questions/36130760/use-justify-content-flex-end-and-to-have-vertical-scrollbar */
.Messages > :first-child {
    margin-top: auto !important;
}

.MessagesRow {
    margin: 0.2em 0.2em 0.5em 0.2em;
    width: 100%;
}

.MessagesTime {
    margin-right: 0.5em;
    font-size: small;
}

.MessagesUser {
    margin-right: 0.5em;
}

.MessageSameUser {
    color: cyan;
}

@media (prefers-color-scheme: light) {
    .MessageSameUser {
        color: blue;
    }
}

.MessagesUuid {
    display: none;
}

.MessagesStatus {
    margin: 0.2em;
}

.MessagesCheck {
    color: green;
}

.MessagesPending {
    color: orange;
}

.MessagesTextPending {
    color: grey;
}

.MessagesTextEdit {
    margin: auto 0.2em;
    cursor: pointer;
    opacity: 0.6;
}
.MessagesTextEdit:hover,
.MessagesTextEdit:active {
    opacity: 1;
}

.UserStatus {
    margin: auto 0.1em auto 0.25em;
}

.online {
    color: rgb(55, 165, 55);
}

.offline {
    color: rgb(196, 0, 0);
}
