.RefreshButton {
  cursor: pointer;
  width: 48px;
  height: 48px;
  fill: white;
  background: cadetblue;
  padding: 0.6em;
  border: 1px solid white;
  border-radius: 24px;
}

.turn {
  animation: spin 1s ease-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
