.UsersCount {
    position: fixed;
    transition: top 1s;
    top: 0.4em;
    right: 1em;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 1px solid white;
    fill: white;
    background: black;
    padding: 0.6em;
    z-index: 1;
}

.UsersCountText {
    margin: auto;
    text-align: center;
}

.UsersCountIcon {
    margin-left: 0.25em;
}

.UsersCountVisible {
    top: 16%;
}

.UsersList {
    position: fixed;
    top: -20%;
    transition: top 1s;
    left: 0;
    right: 0;
    height: 20%;
    border-bottom: 1px solid white;
    background-color: #282c34;
    z-index: 1;
}

.UsersListContent {
    overflow-y: scroll;
    height: 100%;
}

.UsersUl {
    list-style-type: square;
    margin: 0.5em auto;
}

.UsersVisible {
    top: 0;
}

.UsersYourself {
    color: cyan;
}

.UsersListTitle {
    font-size: 16px;
    margin: 0.6em;
}
