.App {
    padding: 0.5em;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.RefreshButton {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

footer {
    font-size: 12px;
    position: fixed;
    padding: 0.25em;
    bottom: 0;
    right: 0;
}
