* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
}

h1 {
  margin: 0 0 0.5em 0;
}

input {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  padding: 0.25em;
  border: 1px solid lightblue;
}
