* {
    box-sizing: border-box;
}

body {
    background-color: #282c34;
    color: white;
}

h1 {
    margin: 0 0 0.5em 0;
}

input {
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 0.25em;
    border: 1px solid lightblue;
}

a {
    color: white;
}

a:visited {
    color: lightgrey;
}

@media (prefers-color-scheme: dark) {
    img {
        filter: grayscale(20%);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eef6f8;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    input {
        color: black;
    }

    input {
        border: 1px solid darkblue;
    }

    a,
    a:hover,
    h4 a,
    h4 a:hover {
        color: black;
    }

    a:visited {
        color: #333;
    }
}
