{
    "port": 6060,
    "cleanupTimeInHours": 6,
    "maxMsgSize": 500000,
    "urlCache": 100,
    "redisHost": "127.0.0.1",
    "redisPort": 6379,
    "secret": "random-string",
    "origin": "https://semi-persistent-chat.fly.dev/"
}
